/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corpo da página */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Container principal */
  .container {
    background-color:#795548 (70, 33, 33);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #795548 (199, 59, 59, 0.1);
    width: 400px;
    max-width: 100%;
  }
  
  /* Título */
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
  }
  
  /* Labels */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  /* Inputs */
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a7877a;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #795548;
    outline: none;
  }
  
  /* Botão */
  button {
    width: 100%;
    padding: 12px;
    background-color: #795548;
    color: rgb(253, 253, 253);
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #8d3c1e63;
  }
  
  /* Parágrafo de resultado */
  #resultado {
    margin-top: 40px;
    font-size: 16px;
    color: #333;
    text-align: center;
  }
  
  /* Estilo para mensagens de erro ou sucesso */
  #resultado.success {
    color: green;
  }
  
  #resultado.error {
    color: red;
  }
  